﻿@model IEnumerable<SwitchOMatic.Models.LightObject>

@{ 
    int lightCount = 1;

}

@if (Model.Count() > 0)
{
            if (Model.Count() > 500)
            {
            <div class="alert alert-warning"> Only the first 500 items are shown.
                </div>}

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#lightList" aria-controls="home" role="tab" data-toggle="tab">List</a></li>
        <li role="presentation"><a href="#lightGraphic" aria-controls="profile" role="tab" data-toggle="tab">Graphic</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="lightList">
            <table class="table">
                <tr>
                    <th>Light</th>
                    <th>
                        @Html.DisplayNameFor(model => model.Lit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TouchCount)
                    </th>

                </tr>

                @foreach (var item in Model.Take(500))
                {
                    <tr>
                        <td>@lightCount</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TouchCount)
                        </td>

                    </tr>
                    lightCount++;
                }

            </table>
            @if (Model.Count() > 500)
            {<h4>...</h4>  }
             <p>Total count @Model.Count()</p>
        </div>
        <div role="tabpanel" class="tab-pane" id="lightGraphic">
            <div class="clearfix lightresultsbox">
                @foreach (var light in Model.Take(500))
                {

                    <div class="pull-left lightresults">
                        <div class="text-center">
                            @if (light.Lit)
                            {<img src="~/Content/light-bulb-image-25.png" height="100" />}
                            else
                            {<img src="~/Content/light-bulb-image-20.jpg" height="100" />}
                        </div>
                        <div class="text-center">
                            <p>Touched @light.TouchCount times</p>
                        </div>
                    </div>

                }
            </div>
            @if (Model.Count() > 500)
            {<h4>...</h4>}
            <p>Total count @Model.Count()</p>

        </div>
        
    </div>

}
else
{
    <p>No results</p>
}

