﻿@model SwitchOMatic.Models.SwitchOMaticSettings

<div>
    <h4>The SwitchOMatic Settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PeopleCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeopleCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LightCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LightCount)
        </dd>
        @if (!string.IsNullOrEmpty(Model.ScenarioName))
        {
        <dt>
            @Html.DisplayNameFor(model => model.ScenarioName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScenarioName)
        </dd>

        }
    </dl>
</div>
 
