﻿@model SwitchOMatic.Models.SwitchOMaticViewModel

@{
    ViewBag.Title = "SwitchOMatic Station";
}



<h2>Switching Station</h2>
@if (Model.ResultsID > 0)
{
    <div>
        <h4>Switch O Matic Results -- @Model.settings.ScenarioName</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.RunOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RunOn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RunBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RunBy)
            </dd>

        </dl>
    </div>

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
}
else
{
    <div>
        <br /><br />
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#runSwitchModal">
            Run Switch O Matic
        </button>
    </div>

    <div class="modal fade" id="runSwitchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

        @using (Html.BeginForm())
        {
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModalX"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Run Switch O Matic</h4>
                    </div>
                    <div class="modal-body">
                        @Html.Partial("SwitchOMaticSettingsEdit", Model.settings)
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelRunClick">Close</button>
                        <input type="submit" class="btn btn-primary" value="Run it!" id="runClick" />
                    </div>
                </div>
            </div>
        }
    </div>
    if (!string.IsNullOrEmpty(ViewBag.errorMessage))
    {
        <div class="alert alert-danger">

            @ViewBag.errorMessage
        </div>
    }

}
@if (Model.ResultsID == 0)
{

}
@if (Model.settings.LightCount > 0)
{
    @Html.Partial("SwitchOMaticSettingsDetails", Model.settings)
        <div class="alert alert-info">
            <p><strong>@Model.Lightslit</strong> are still lit.</p>
            <p><strong>@Model.TotalLightTouches</strong> total light touches occurred.</p>
            <p>The test took <strong>@Model.Runtime.Seconds</strong> seconds.</p>

        </div>
@Html.Partial("LightObjectList", Model.LightObjectList)
}
else
{
    <h4>We know you're excited! Click the button above to switch some lights!</h4>
}



@section scripts{

    <script type="text/javascript">
        $("#runSwitchModal").on("submit", function () {

            $('#runClick').attr("disabled", "disabled").attr("value", "Working on it!");
            $("#cancelRunClick").fadeOut(100);
            $("#closeModalX").fadeOut(100);
        });
    </script>



}