﻿@model IEnumerable<SwitchOMatic.Models.SwitchOMaticResults>

@{
    ViewBag.Title = "Index";
}



<h2>Past Results</h2>
<p>
    @Html.ActionLink("Run Switch O Matic", "Run", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ResultsID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScenarioName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RunBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RunOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ResultsID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScenarioName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RunBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RunOn)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ResultsID}, new { @class="btn btn-primary" }) 
        </td>
    </tr>
}

</table>
