﻿@{
    ViewBag.Title = "About SwitchOMatic";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>SwitchOMatic is a next generation modeling tool for modeling the age old question of how many people can turn on or off how many lights and what are the results?.</p>
<p>You can hire a ton of people and wire up a bunch of lights; or you can use crack open a beer and use SwitchOMatic!</p>
