﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Switch-O-Matic</h1>
    <p class="lead">Switch O Matic is a great tool for imagining stuffing people and lights into a room and modeling the mayhem that ensues!</p>
    <p><a href="@Url.Action("Run", "SwitchOMatic")" class="btn btn-primary btn-lg">Try It &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           SwitchOMatic lets you get results without spending money on lights or hiring people.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("About","Home")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more results</h2>
        <p>Model results with up to 100,000 lights and 100,000 people. That's a lot of energy and people's time saved!.</p>
        <p><a class="btn btn-default" href="@Url.Action("Run","SwitchOMatic")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See past results</h2>
        <p>Don't waste time re-running past results. You can examine past runs in the results list..</p>
        <p><a class="btn btn-default" href="@Url.Action("Index","SwitchOMatic")">Learn more &raquo;</a></p>
    </div>
</div>